<div class="container">
  <h1>TO DO LIST</h1>
  <div class="header-container">
    <select [(ngModel)]="selectedMonth">
      <option value="0" disabled>Select a Month</option>
      <option *ngFor="let options of commonService.monthsArray; trackBy: trackByFn" [value]="options.value">
        {{options.label}}
      </option>
    </select>
    <button id="to-do-clear-month-button" class="clear-icon" (click)="selectedMonth = '0'">↻</button>
  </div>

  <div class="task-container">
    <div *ngFor="let taskGroup of taskArray.controls; let i = index; trackBy: trackByFn">
    <div *ngIf="(taskGroup.get('date').value | date:'M') === selectedMonth">
        <div class="row justify-content-md-center">
          <div class="col">
            <div class="task-item" *ngIf="!taskGroup.get('isEditMode')?.value">
              <div class="row">
                <div class="col-md">
                  <label for="date">{{ taskGroup.get('date').value | date }}</label>
                </div>
                <div class="col">
                  <label for="task">{{ taskGroup.get('task').value }}</label>
                </div>
                <div class="col">
                  <label for="remarks">{{ taskGroup.get('remarks')?.value }}</label>
                </div>
                <div class="col" *ngIf="!taskGroup.get('isHoliday').value">
                  <button id="to-do-edit-button-{{i}}" (click)="startEditing(i)" class="edit-button" [disabled]="isEditTaskDisabled">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex">
        <div *ngIf="taskGroup.get('isEditMode')?.value" [formGroup]="taskForm" class="task-item col-md-10">
          <div class="col-md-4">
            <input id="to-do-list-date-edit-{{i}}" type="date" formControlName="date" placeholder="Date">
            <div [innerText]="taskForm.controls['date'].errors | validationError:'date'" class="error-messages">
            </div>
          </div>
          <div class="col-md-6">
            <input id="to-do-list-task-edit-{{i}}" type="text" formControlName="task" placeholder="Task">
            <div [innerText]="taskForm.controls['task'].errors | validationError:'task'" class="error-messages">
            </div>
          </div>
          <div class="col-md-3">
            <input id="to-do-list-remarks-edit-{{i}}" type="text" formControlName="remarks" placeholder="Remarks">
            <div [innerText]="taskForm.controls['remarks'].errors | validationError:'remarks'" class="error-messages">
            </div>
          </div>
          <div class="col-md-3 d-flex">
            <button id="to-do-lidt-close-button-{{i}}" type="button" (click)="cancelEditing(i)"
              class="close-button">Close</button>
            <button id="to-do-list-submit-button-{{i}}" type="submit" (click)="finishEditing(i)"
              [disabled]="!taskForm.valid || taskForm.pristine" class="submit-button">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="add-button-container">
    <button *ngIf="!isTaskFormVisible" id="to-do-add-task-button" class="add-button"
    (click)="addTask()" [disabled]="isAddTaskDisabled" >+ Add Task
    </button>
  </div>

  <div *ngIf="isTaskFormVisible" class="form-container">
    <form [formGroup]="taskForm" (ngSubmit)="addFormGroup()">
      <div class="form-row">
        <div class="form-field">
          <input id="to-do-list-date-add" type="date" formControlName="date">
        </div>
        <div [innerText]="taskForm.controls['date'].errors | validationError:'date'" class="error-message">
        </div>
        <div class="form-field">
          <input id="to-do-list-task-add" type="text" placeholder="Task" formControlName="task">
        </div>
        <div [innerText]="taskForm.controls['task'].errors | validationError:'task'" class="error-message">
        </div>
        <div class="form-field">
          <textarea id="to-do-list-remarks-add" formControlName="remarks" placeholder="Remarks"></textarea>
        </div>
        <div [innerText]="taskForm.controls['remarks'].errors | validationError:'remarks'" class="error-message">
        </div>
      </div>
      <button id="to-do-list-submit-button" type="submit" [disabled]="!taskForm.valid"
        class="submit-button">Add</button>
      <button id="to-do-list-close-button" type="button" (click)="closeForm()" class="close-button">Close</button>
    </form>
  </div>
</div>
